certifi==2026.2.25
charset-normalizer==3.4.7
cma==4.4.4
contourpy==1.3.3
cycler==0.12.1
enoppy==0.1.1
fonttools==4.62.1
idna==3.11
kiwisolver==1.5.0
matplotlib==3.10.8
mealpy==3.0.3
networkx==3.6.1
numpy==1.26.0
opfunu==1.0.4
packaging==26.0
pandas==3.0.2
pillow==12.2.0
psutil==7.2.2
pyparsing==3.3.2
python-dateutil==2.9.0.post0
requests==2.33.1
scipy==1.16.3
seaborn==0.13.2
six==1.17.0
urllib3==2.6.3
